<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.googlemaptests"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        <activity android:name=".TimeList" android:label="@string/app_name"></activity>
         <uses-library android:name="com.google.android.maps"/>
    </application>
	<uses-permission android:name="android.permission.INTERNET"/>
	<!-- NETWORK_PROVIDERだけにアクセスする ACCESS_COASE_LOCATION
	NETWORK_PROVIDER/GPS_PROVIDER両方にアクセスする、ACCESS_FINE_LOCATIONがある -->
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
</manifest>